body { background-image: url(http://i.stack.imgur.com/jGlzr.png); }

#container{
  height:629px
}

footer
{

clear:both;
border:1px solid;
border-radius:15px;
background-color: gray
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 67%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 79%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(67%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(79%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}






body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#000000;
	color:#c0c0c0;
	border: 2px black;
	border-radius:1px;
	}
	
h1 {
	font-size:32px;
	color:#006600;
	clear:both;
border:1px solid;
border-radius:15px;
background-color: gray
  background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 67%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 79%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(67%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(79%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 67%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#00ff00;
	}
